<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.capstoneproject.csd190">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_logo_round"
        android:supportsRtl="true"
        android:theme="@style/CSD190"
        tools:ignore="AllowBackup">

        <activity
            android:name=".view.splashscreen.SplashScreenActivity"
            android:exported="true"
            android:theme="@style/CSD190">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".view.loginregister.LoginRegisterActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/noActionBar"
            tools:ignore="LockedOrientationActivity" />

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />

        <activity
            android:name=".view.news.DetailNewsActivity"
            android:exported="false"
            android:theme="@style/noActionBar" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="${GMP_KEY}" />

        <activity
            android:name=".view.map.MapActivity"
            android:exported="true"
            android:label="@string/maps"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />

        <activity
            android:name=".view.quiz.QuizActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/noActionBar"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".view.quiz.QuestionActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/noActionBar"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".view.quiz.ResultQuizActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/noActionBar"
            tools:ignore="LockedOrientationActivity" />
    </application>
</manifest>